@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  overflow-x: hidden;

  font-family: 'Roboto', sans-serif;

  color: #fff;
  background-color: rgb(18, 24, 36);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;

  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate( 0.0deg)
  }

  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.title {
  font-weight: bolder;
}

.left-margin {
  margin-left: 5%;
}

.description {
  display: inline-block;
  font-size: 3vh;
  font-weight: lighter;

  max-width: 650px;
}

.airplane {
  float: right;

  margin-right: 10%;
  margin-left: 10%;

  padding-bottom: 15px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  position: sticky;

  justify-content: space-around;

  min-height: 8vh;
}

.nav-links {
  display: flex;
  list-style: none;

  justify-content: space-around;
  align-items: center;

  width: 50%;
}

.nav-link a:link {
  color: rgb(255, 255, 255, .75);
  font-size: 1.3vw;
  font-weight: bold;
}

.nav-link a:hover {
  color: rgba(255, 255, 255, 1);
  transition: ease 0.3s;
}

.title {
  font-size: 2.7vh;
}

.airplane {
  width: min(85%, 500px);
}

@media screen and (max-width: 850px) {
  .nav-links {
    display: none;
  }
}

.center {
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;
}

button {
  height: 40px;
  background-color: rgb(85,57,204);

  font-weight: bolder;
  font-size: 1rem;

  border: 8px solid rgb(85,57,204);
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgb(85,57,204);
}

button a:link {
  color: white;
}

button:hover {
  background-color: white;

  border: 8px solid white;
  border-radius: 8px;

  transition: all .5s ease;
}

button:hover a:link {
  color: black;
}

.padding {
  padding-bottom: 5%;
}

.center-button {
  margin: 0;
  position: absolute;

  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.technology-list {
  list-style-type: none;
  overflow: hidden;
}

.technology-list li {
  float: left;
  margin-right: 10px;
}