@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  overflow-x: hidden;

  font-family: 'Open Sans', sans-serif;

  color: #fff;
  background-color: rgb(18, 24, 36);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}